h1{
    color: red;
    text-align: center;
    border:5px solid purple
}
nav{
    background-color: aqua;
    text-align: center;
    padding: 10px 5px;
}
nav ul{
    text-align: right;
    list-style: none;
}
nav ul li{
    display: inline;
    text-decoration: none;

}
nav ul li a {
    text-decoration: none;
    margin: 0px 10px;
    color: black;
}
.links:hover{
    text-transform: uppercase;
    border-bottom: 1px solid black;
}
#bio{
    height: 400px;
    border: 1px solid red;
    padding: 20px;

}
 
.bio-content{
    width: 100%;
}
.bio-content img{
    width: 25%;
    float:left;
}
.bio-content p {
    line-height: 50px;
    font-weight:bold;
}
footer{
    text-align: center;
}